@import "grid.css";
@import "switch.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');

body {
  margin: 0;
  background-color: #fafafa;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #3F51B5;
}

.transparent {
  background-color: transparent; 
}


.search {
  font: 400 1rem 'Roboto';
  letter-spacing: 0.025em;
  color: white;
  height: 45px;
  border: none;
  font-width: thin;
  float: left;
  width: 380px;
  border-bottom: solid thin white;
  color: #E8E8E8;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}

.text {
  color: white;
  font: 400 1rem 'Roboto';
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.temp {
  font-size: 8em;
  font-weight: 300;
  line-height: 0.75;
  margin-right: 5px;
}

.tempbox {
  margin-right: 45px;

}

.display {
  display: flex;
  justify-content: space-around;
}

.button {
  height: 45px;
  margin: 1em 0 4em;
  padding: 0;
  font: 400 1.1rem 'Roboto';
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

header {
  width: 100%;
  min-height: 55px;
  background-color: #4da3ff !important;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

h3 {
  padding-left: 5px;
}

.container-search {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: thin;
  border-color: rgba(255, 255, 255, 0.6);
  padding: 4px;
  opacity: 0.7;
  font-size: 20px;
  display: flex !important;
  justify-content: space-between !important;
  text-align: right;
}

.li {
 font-size: 14px;
 color: rbg(255,255,255);
 opacity: 0.5;
}


.main {
  width: 480px;
}

.flex-grow-0 {
  flex-grow: 0;
}

.d-none {
  display: none;
}

.results-cont {
  flex-grow: 0;
  width: 325px;
}

.searchbar {
  height: 35px;
  width: 300px;
  border: 1px solid white;
  border-bottom-color: #212121;
  font-size: 25px;
}

.searchbar:focus {
  outline: #8bc34a auto 1px;
  border-style: none;
}

button {
  background-color: #fafafa;
  border-style: none;
  font-size: 26px;
  position: relative;
  left: 25px;
}

button:hover {
  cursor: pointer;
}

.img-style {
  -webkit-user-select: none;
  margin: auto 0 auto 0;
}

.justify-c-between {
  justify-content: space-between;
}
